body {
  margin: 0;
}
.page-container {
  box-sizing: border-box;
  padding: 20px 20px 0;
  height: 100vh;
  background: #2e323f url("https://img.alicdn.com/tfs/TB1_YvwXTtYBeNjy1XdXXXXyVXa-1680-370.png") no-repeat;
  background-size: 100%;
}
